In [1]:
import pandas as pd

### открываем таблицу

In [45]:
df=pd.read_csv('C:/Users/User/1.csv',sep=';',encoding='cp1251')

### смотрим первые 5 строк

In [46]:
df.head()

,REP_D,MON,MON_LIVING,CT_NAME,SERV_NAME,MSISDN,CONTRACT_DATE,REG,ACT_FLG,REVENUE_TOTAL,ANY_TR,PD_TOTAL_TRAF,INCOMING_TR_TOTAL,OUT_TR_TOTAL
0,31.01.2020,31.01.2020,1,B2B2C,"Пакет ""Бизнес 200""",9957411207,20.01.2020,Краснодарский край,1,"200,0001",NaN,NaN,NaN,NaN
1,31.01.2020,31.01.2020,1,B2B,NaN,9770678557,31.01.2020,Белгородская обл.,0,0,NaN,NaN,NaN,NaN
2,31.01.2020,31.01.2020,1,B2B2C,"Пакет ""Бизнес 200""",9770551246,21.01.2020,г. Москва и Московская обл.,1,"170,0001",19.0,"5300,54",0,3.0
3,31.01.2020,31.01.2020,1,B2B2C,"Пакет ""Бизнес 200""",9585945594,31.01.2020,г. Москва и Московская обл.,1,"170,0001",NaN,NaN,NaN,NaN
4,31.01.2020,31.01.2020,1,B2B2C,"Пакет ""Бизнес 200""",9800443865,31.01.2020,Тюменская обл.,1,"200,0001",NaN,NaN,NaN,NaN

### смотрим последние 5 строк

In [47]:
df.tail()

,REP_D,MON,MON_LIVING,CT_NAME,SERV_NAME,MSISDN,CONTRACT_DATE,REG,ACT_FLG,REVENUE_TOTAL,ANY_TR,PD_TOTAL_TRAF,INCOMING_TR_TOTAL,OUT_TR_TOTAL
197249,30.06.2020,29.02.2020,5,B2B2C,"Пакет ""Бизнес 200""",9770656302,10.02.2020,Волгоградская обл.,0,0,NaN,NaN,NaN,NaN
197250,30.06.2020,31.03.2020,4,B2B2C,"Пакет ""Бизнес 200""",9770652573,05.03.2020,Волгоградская обл.,1,"4,9999",NaN,NaN,NaN,NaN
197251,30.06.2020,31.01.2020,6,B2B2C,NaN,9957410621,16.01.2020,Краснодарский край,1,"2,0055",NaN,NaN,NaN,NaN
197252,30.06.2020,30.06.2020,1,B2B,NaN,9955254783,18.06.2020,Приморский край,0,0,NaN,NaN,NaN,NaN
197253,30.06.2020,29.02.2020,5,B2B2C,"Пакет ""Бизнес 200""",9800892529,27.02.2020,г. Москва и Московская обл.,1,"9,9999",NaN,NaN,NaN,NaN

### считаем уникальные записи в столбце CT_NAME

In [48]:
df['CT_NAME'].nunique()

4

### их мало (четыре) - можем посмотреть

In [49]:
df.CT_NAME.unique()

array(['B2B2C', 'B2B', 'Корпоративные', ' Клиент'], dtype=object)

### посчитаем, сколько строк по каждому значению CT_NAME

In [50]:
df.CT_NAME.value_counts()

B2B2C            164955
Корпоративные     23784
B2B                4487
 Клиент            4028
Name: CT_NAME, dtype: int64

### посчитаем общий доход в разрезе регионов
### сначала переведем тип данных в числовой

In [51]:
df.REVENUE_TOTAL=df.REVENUE_TOTAL.str.replace(',','.')

In [52]:
df.REVENUE_TOTAL=df.REVENUE_TOTAL.astype(float)

### просуммируем и отсортируем по убыванию

In [53]:
df.groupby('REG')['REVENUE_TOTAL'].sum().sort_values(ascending=False)

REG
г. Москва и Московская обл.                2.915899e+06
Волгоградская обл.                         1.150417e+06
г. Санкт-Петербург и Ленинградская обл.    6.555303e+05
Ростовская обл.                            4.817387e+05
Краснодарский край                         3.547483e+05
                                               ...
Еврейская автономная обл.                  5.877998e+03
Магаданская обл.                           3.340001e+03
Респ. Тыва                                 1.788000e+03
Респ. Хакасия                              1.472479e+03
Камчатский край                            2.000001e+02
Name: REVENUE_TOTAL, Length: 64, dtype: float64