In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df=pd.read_csv('C:/Users/User/API/2.csv',sep=';',encoding='cp1252')

In [3]:
df.head()

,id,periodid,startdate,enddate,disc,isGk,isShared,isUsn,isEnvd,isBudget,...,mainSystem1420,mainSystem1421,mainSystem1422,mainSystem1423,mainSystem1424,mainSystem1425,mainSystem1426,mainSystem1427,mainSystem1428,notMainSystem
0,3,20861,01.04.2017 0:00,30.04.2017 0:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,3,20862,01.05.2017 0:00,31.05.2017 0:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,20864,01.06.2017 0:00,30.06.2017 0:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,20865,01.07.2017 0:00,31.07.2017 0:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,3,20866,01.08.2017 0:00,31.08.2017 0:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
df.id.nunique()

4260

In [5]:
unique_id=df.id.unique()
unique_id

array([      3,      29,      42, ..., 1696323, 1696385, 1696463],
      dtype=int64)

In [6]:
df['enddate'] = pd.to_datetime(df.enddate, format='%d.%m.%Y %H:%M')
df['startdate']= pd.to_datetime(df.startdate, format='%d.%m.%Y %H:%M')
df['paid_time']= (pd.to_datetime(df.paidDate, format='%d.%m.%Y %H:%M')-df.startdate).dt.days

In [7]:
client_data=df.groupby('id',as_index=False).agg({'startdate':'max'}).rename({'startdate':'last_month'},axis=1)
df['last_month']=df.groupby(['id'])['startdate'].transform(max)

In [8]:
end_of_time=max(df.last_month)
end_of_time

Timestamp('2019-11-01 00:00:00')

In [9]:
df.paid_time

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
102451     NaN
102452     3.0
102453    10.0
102454    34.0
102455   -15.0
Name: paid_time, Length: 102456, dtype: float64

In [10]:
client_data['is_gone']=(client_data.last_month!='2019-11-01')

In [11]:
client_data.groupby('is_gone').count()

           id  last_month
is_gone
False    2834        2834
True     1426        1426

In [12]:
client_data.head(30)

     id last_month  is_gone
0     3 2017-12-01     True
1    29 2019-11-01    False
2    42 2019-11-01    False
3    63 2019-11-01    False
4    65 2019-11-01    False
5   102 2019-11-01    False
6   108 2019-11-01    False
7   123 2019-11-01    False
8   128 2019-11-01    False
9   132 2019-11-01    False
10  137 2019-11-01    False
11  185 2019-11-01    False
12  211 2018-09-01     True
13  246 2019-11-01    False
14  251 2019-11-01    False
15  319 2017-12-01     True
16  338 2019-11-01    False
17  342 2019-08-01     True
18  361 2019-11-01    False
19  447 2019-11-01    False
20  535 2017-12-01     True
21  538 2019-11-01    False
22  555 2019-11-01    False
23  557 2019-11-01    False
24  589 2019-11-01    False
25  612 2019-11-01    False
26  640 2019-11-01    False
27  710 2019-11-01    False
28  711 2019-11-01    False
29  712 2019-11-01    False

In [13]:
excepted_columns=['paidDate','startdate','enddate','last_month']

In [14]:
eps=1e-9
columns=list(set(list(df))-set('id'))
for id in unique_id:
    print(id,end=' ')
    for col in columns:
        if col in excepted_columns:
            continue
        if df.loc[df.id==id].last_month.max()<end_of_time:
            max_value=df.loc[(df.id==id)&(df.startdate>df.last_month-pd.Timedelta(days=182))][col].astype(float).max()
            min_value=df.loc[(df.id==id)&(df.startdate>df.last_month-pd.Timedelta(days=182))][col].astype(float).min()
            cur_value=df.loc[(df.id==id)&(df.last_month==df.startdate)][col].astype(float).max()
        else:
        max_value=df.loc[(df.id==id)&(df.startdate>df.last_month-pd.Timedelta(days=182+45))&
                                         (df.startdate<end_of_time)][col].astype(float).max()
        min_value=df.loc[(df.id==id)&(df.startdate>df.last_month-pd.Timedelta(days=182+45))&
                                         (df.startdate<end_of_time)][col].astype(float).min()
        cur_value=df.loc[(df.id==id)&(df.startdate>df.last_month-pd.Timedelta(days=45))&
                                         (df.startdate<end_of_time)][col].astype(float).max()
            

        client_data.loc[client_data.id==id,col+'max']=(cur_value+eps)/(max_value+eps)
        client_data.loc[client_data.id==id,col+'min']=(cur_value+eps)/(min_value+eps)
        client_data.loc[client_data.id==id,col+'cur']=cur_value

IndentationError: expected an indented block (<ipython-input-14-230a6bb55864>, line 13)

In [ ]:
client_data.shape

In [ ]:
client_data1=client_data.fillna(0)

In [ ]:
from sklearn.model_selection import train_test_split
import random
import numpy as np
import torch
from torch.optim import Adam, lr_scheduler

random.seed(1234)
np.random.seed(1234)
torch.manual_seed(1234)
torch.cuda.manual_seed(1234)
torch.backends.cudnn.deterministic = True

In [ ]:
X=client_data1.drop(['is_gone','last_month','id'],axis=1)
y=client_data1.is_gone

In [ ]:
X.shape,y.shape

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
X_train.shape

In [ ]:
X_train=torch.DoubleTensor(X_train.values)
X_test=torch.DoubleTensor(X_test.values)
y_train=torch.LongTensor(y_train.values)
y_test=torch.LongTensor(y_test.values)

In [ ]:
X_train.shape

In [ ]:
batch_size=3408
lr=1e-4
num_epoch=5000
step_size=500
gamma=0.8

In [ ]:
class API_net(torch.nn.Module):
    def __init__(self):
        super(API_net,self).__init__()
        self.fc1=torch.nn.Linear(264,600)
        self.act1=torch.nn.ReLU()
        self.fc2=torch.nn.Linear(600,600)
        self.act2=torch.nn.Tanh()
        self.fc3=torch.nn.Linear(600,600)
        self.act3=torch.nn.Sigmoid()
        self.fc4=torch.nn.Linear(600,2)
    
    def forward(self,x):
        x=self.fc1(x)
        x=self.act1(x)
        x=self.fc2(x)
        x=self.act2(x)
        x=self.fc3(x)
        x=self.act3(x)
        x=self.fc4(x)
        return x

model=API_net().double()

In [ ]:
model=API_net().double()
device=torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')
loss=torch.nn.CrossEntropyLoss()
optimizer=torch.optim.Adam(model.parameters(),lr=lr)
scheduler = lr_scheduler.StepLR(optimizer,
                                step_size=step_size,
                                gamma=gamma)
    
train_accuracy_history=[]
train_loss_history=[]
test_accuracy_history=[]
test_loss_history=[]
    
for epoch in range(num_epoch):
    print()
    print('Epoch {}/{}:'.format(epoch, num_epoch - 1), flush=True)
        
    for phase in ['train','test']:
        if phase=='train':
            running_loss = 0
            running_acc = 0
            order=np.random.permutation(len(X_train))
            for start_index in range(0,len(X_train),batch_size):
                optimizer.zero_grad()
                model.train()
                batch_indexes=order[start_index:start_index+batch_size]
                X_batch=X_train[batch_indexes].to(device)
                y_batch=y_train[batch_indexes].to(device)
                preds=model.forward(X_batch)
                loss_value=loss(preds,y_batch)
                preds_class=preds.argmax(dim=1)
                loss_value.backward()
                optimizer.step()
                running_loss+=loss_value.data.cpu()
                running_acc+=(preds_class==y_batch).float().mean().data.cpu()
            train_accuracy_history.append(running_acc/(len(X_train)/batch_size))
            train_loss_history.append(running_loss/(len(X_train)/batch_size))
        else:
#             continue
            model.eval()
            preds=model.forward(X_test)
            loss_value=loss(preds,y_test).data
            preds_class=preds.argmax(dim=1)
            test_accuracy_history.append((preds_class==y_test).float().mean().data)
            test_loss_history.append(loss_value)
    print('train loss ',train_loss_history[-1])
    print('train acc  ',train_accuracy_history[-1])
    print('test loss  ',test_loss_history[-1])
    print('test acc   ',test_accuracy_history[-1])

In [ ]:
from matplotlib import pyplot as plt
history=[train_accuracy_history,train_loss_history,test_accuracy_history,test_loss_history]
titles = ['Train Accuracy', 'Train Loss', 'Val Accuracy', 'Val Loss']
plt.figure(figsize=(10, 10))
for i, image in enumerate(history):
    plt.subplot(2, 2, i+1)
    plt.title(titles[i])
    plt.grid()
    if i == 0 or i == 1:
        color = 'b'
    else:
        color = 'orange'
    plt.plot(image,c=color, label= 'mean: %.2f' % np.array(image).mean())
    plt.legend(loc='best')
plt.show()

# Рисуем совмещенные графики  Accuracy и Loss для Тренеровочной и валидационной выборки
titles_ = ['Accuracy','Loss']
plt.figure(figsize=(10, 5))
k=0
for i in range(2):
    plt.subplot(1, 2, i+1)
    plt.plot(history[0+k], label='Tain', c='b')
    plt.plot(history[2+k], label='Val', c='orange')
    plt.title(titles_[i])
    plt.grid()
    plt.legend(loc='best')
    k += 1

In [ ]:
preds=model.forward(X_test)
m = torch.nn.Softmax(dim=1)
y_predicted=m(preds)
y_predicted=y_predicted.detach().numpy()
y_predicted

In [ ]:
y_predicted[:,1].shape,y_test.shape

In [ ]:
y_predicted[:,1]

In [ ]:
from sklearn.metrics import roc_curve, auc
fpr, tpr, thresholds = roc_curve(y_test, y_predicted[:,1])
roc_auc= auc(fpr, tpr)
plt.figure()
plt.plot(fpr, tpr, color='darkorange', label='ROC curve (area = %0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.show()